@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #021437;
  font-family: 'Raleway', sans-serif;
  /* font-weight: 300; */
  /* height: 10000px; */
}


/* ----Header Styling ---- */

header{
  position: relative;
  height: 100vh;
}
.nav-header{
  padding: 0px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}


/* ---nav header after click--- */


.clicked{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #021437;
  transition: 0.5s;
  z-index: 2;
}
.clicked .logo{
  display: none;
}
.clicked .header-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  height: 40vh;
  list-style: none;
  padding-left: 0px;
  margin-top: 100px;
}
.clicked .header-links a{
  color: white;
  text-decoration: none;
  margin-left: 70px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-size: 30px;
}
.clicked .ticket-button{
  display: block;
  margin: auto;
  padding: 20px 40px;
  cursor: pointer;
  background-image: linear-gradient(120deg,#b50090 0,#0f58e6 100%);
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease;
}
.clicked .ticket-button-a{
  text-decoration: none;
}
.clicked .bi{
  position: absolute;
  top: 15px;
  right: 15px;
}


/* ---------------- */


.nav-header.scrolled{
  background-color: #021437;
}
.nav-header .logo{
  height: 50%;
  width: 50%;
  transition: 0.6s;
  flex-basis: 20%;
}
.nav-header .logo img{
  width: 100%;
  height: 100%;
  min-width: 130px;
}
.nav-header .logo:hover{
  transform: scale(1.04);
}
.nav-header .header-links{
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 0px;
}
.nav-header .header-links a{
  color: white;
  text-decoration: none;
  margin-left: 70px;
  cursor: pointer;
  display: inline-block;
}
.header-links a:hover{
  color: #39e48c;
}
.nav-header .header-links button{
  width: 100%;
  min-width: 190px;
  padding: 20px 40px;
  cursor: pointer;
  background-image: linear-gradient(120deg,#b50090 0,#0f58e6 100%);
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease;
}
.header-links button:hover{
  background-image: linear-gradient(#39e48c,#39e48c);
  color: black;
}

/* ----video styling---- */

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.circle{
  position: absolute;
  right: 5%;
  top: 60vh;
  color: white;
  background: transparent;
  background-color: rgba(76, 75, 75, 0.367);
  backdrop-filter: blur(10px);
  filter: contrast(1.1);
  padding: 50px;
  border-radius: 50%;
  font-size: 20px;
}
.circle p{
  border-top: 2px dotted green;
  border-bottom: 2px dotted green;
  font-weight: 800;
  padding: 10px 0px;
}


/* ---Description Section--- */

.description{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  padding: 180px 0px;
}
.description h1{
  color: white;
  font-size: clamp(1.8em,4vw,2em);
  line-height: 110%;
  font-weight: bolder;
  text-align: center;
  z-index: 1;
}
.description hr{
  margin: 40px 220px;
  width: 120px;
  height: 2px;
  border: none;
  background-color: rgb(36, 241, 130);
}
.description p{
  font-size: 1.1em;
  font-weight:600;
  line-height: 150%;
  color: white;
  text-align: center;
  z-index: 1;
}
.description button{
  font-size: 20px;
  font-weight: 600;
  padding: 19px 44px;
  margin-top: 40px;
  border-radius: 20px;
  background: #1cce72;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.description button:hover{
  scale: 1.05;
  color: black;
}
.description .btn{
  z-index: 1;
}
.description .left-image{
  position: absolute;
  width: 300px;
  height: 630px;
  left: 0;
}
.description .right-image{
  position: absolute;
  width: 300px;
  height: 630px;
  right: 0;
}

.middle-image{
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
.description .background-image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: none;
  z-index: -1;
}


/* ---Reviews Section--- */

.reviews{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  padding-bottom: 200px;
}
.reviews h1{
  color: white;
  font-size: 40px;
  line-height: 110%;
  font-weight: bolder;
  text-align: center;
  width: 400px;
}
.reviews hr{
  margin: 40px 220px;
  width: 120px;
  height: 2px;
  border: none;
  background-color: rgb(36, 241, 130);
}
.reviews .p1{
  font-size: 23px;
  font-weight:600;
  line-height: 150%;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.testimonials{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}
.testimonials .quote{
  width: 485px;
  height: 200px;
  position: relative;
}
.quote p{
  color: white;
  background: #17243b;
  padding: 30px 45px;
  height: 80%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.quote span{
  color: white;
  position: relative;
  left: 30px;
}
.bi-caret-down-fill{
  position: absolute;
  bottom: 18px;
  left: 50px;
  font-size: 35px;
  color: #17243b;
}

/* ---Images Grid--- */

.images-grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 230px 230px;
}
.images-grid img{
  height: 100%;
  width: 100%;
  transition: 0.1s;
}
.images-grid img:hover{
  opacity: 0.7;
}

/* ---NewsLetter--- */

.newsletter{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  position: relative;
}
.newsletter h1{
  color: white;
  font-size: 40px;
  line-height: 110%;
  font-weight: bolder;
  text-align: center;
  width: 400px;
}
.newsletter hr{
  margin: 40px 220px;
  width: 120px;
  height: 2px;
  border: none;
  background-color: rgb(36, 241, 130);
}
.newsletter form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.newsletter input{
  display: block;
  padding: 14px 20px;
  width: 550px;
  height: 60px;
  border: 2px solid #f1f4f8;
  border-radius: 6px;
  font-size: 17px;
}
.newsletter input:focus{
  outline: none;
}
.newsletter button{
  font-size: 20px;
  font-weight: 600;
  padding: 19px 44px;
  border-radius: 20px;
  border: none;
  background: #1cce72;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.newsletter button:hover{
  scale: 1.05;
  color: black;
}
.newsletter .left-image{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
}
.newsletter .right-image{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
}

/* ---Footer--- */

footer{
  display: flex;
  justify-content: space-between;
  padding-top: 50px ;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  position: relative;
}
footer .left-side{
  display: flex;
}
footer .lightopia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  width: 350px;
}
footer h1{
  color: white;
  font-size: 20px;
  line-height: 110%;
  font-weight: bolder;
  width: 400px;
}
footer hr{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  width: 60px;
  height: 2px;
  border: none;
  background-color: rgb(36, 241, 130);
}
footer .addresses{
  color: white;
  line-height: 25px;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: #39e48c;
}
footer .terms{
  color: white;
}
.social-media a{
  font-size: 22px;
  margin-right: 12px;
}
footer .languages{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.available-languages a{
  line-height: 25px;
}
footer img{
  position: absolute;
  right: 120px;
  top: 100px;
  width: 200px;
}
.bi-x, .bi-list{
  color: white;
  font-size: 40px;
  margin-right: 20px;
  cursor: pointer;
  /* visibility: hidden; */
}
.bi-x{
  font-size: 50px;
}
.nav-header .ticket-button{
  width: 100%;
  padding: 20px 40px;
  cursor: pointer;
  background-image: linear-gradient(120deg,#b50090 0,#0f58e6 100%);
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease;
}
.ticket-button:hover{
  background-image: linear-gradient(#39e48c,#39e48c);
  color: black;
}
/* ---Media Query--- */

@media(width < 1100px){
  .button-a, .header-links button{
    display: none;
  }
}
@media(width < 900px){
  .nav-header .header-links{
    visibility: hidden;
    width: 40%;
  }
}
@media(width < 600px){
  .nav-header .header-links{
    width: 0%;
  }
  .circle{
    font-size: 13px;
    padding: 40px;
  }
}
@media(width >= 1100px){

  .ticket-button, .ticket-button-a{
    display: none;
  }
}
@media(width >= 900px){
  .bi-list, .bi-x{
    display: none !important;
  }
}